github:
  secret:
programs:
  - name: sleep1
    command: sleep 60
  - name: sleep2
    command: sleep 60
  - name: tini
    url: https://github.com/krallin/tini/releases/download/v0.19.0/tini
    command: tini
http:
  port: 9517
